<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="stilius.css">
</head>
<body>
    <p class="pirmas">Labas, tai yra mano paragrafas</p>
    <p>Čia dar kažkoks tai paragaras, bet ne mano</p>    
    <p class="pirmas">Labas, tai yra mano paragrafas</p>
    <p class="pirmas">Labas, tai yra mano paragrafas</p>
    <p id="idinis" class="pirmas" >Labas, tai yra mano paragrafas</p>


{% for x in vardai %} 
<p>{{x}}</p>
{%endfor%}

{{slaptas}}

<a href="{{ url_for('naujas_puslapis') }}">Nueikite I nauja puslapi</a>
</body>
</html>